.nav-pills>li>a {
    transition: background 200ms ease-in-out;
}

.nav-pills>li>a:focus {
    background: transparent;
    color: #eee;
}

.nav-pills>li>a:hover {
    color:black;
    background-color: #eee;
}